x-temperature-monitoring-service: &temperature-monitoring-service
  image: ros2-humble-temperature-monitoring-dev
  networks:
    - temperature-monitoring-network
  tty: true
  stdin_open: true
  environment:
    - DEBIAN_FRONTEND=noninteractive
    - ROS_DOMAIN_ID=33
    - RCUTILS_COLORIZED_OUTPUT=1

services:
  temperature_publisher:
    <<: *temperature-monitoring-service
    build:
      context: .
    container_name: temperature_publisher
    ports:
      - "8765:8765"
    volumes:
      - ./workspaces/temperature_publisher_ws:/root/temperature_publisher_ws:rw
      - ./packages:/root/temperature_publisher_ws/src:ro

  temperature_subscriber:
    <<: *temperature-monitoring-service
    build:
      context: .
    container_name: temperature_subscriber
    volumes:
      - ./workspaces/temperature_subscriber_ws:/root/temperature_subscriber_ws:rw
      - ./packages:/root/temperature_subscriber_ws/src:ro

networks:
  temperature-monitoring-network:
    driver: bridge
